
.Home-page {
  width: 100%;
  min-height: 100vh; /* 화면 높이 꽉 채우기 */
  background-repeat: no-repeat;
  background-size: cover; /* 화면 비율에 맞춰 꽉 채우기 */
  background-position: center top; /* 위쪽 기준으로 고정 */
  background-color: #0009ff;/* #0009ff; #0007fd*/
  
}

/* 1200px 이하일 때 */
@media (max-width: 1200px) {
  .Home-page {
    background-position: center top; /* 여전히 위쪽 고정 */
  }
}

main {
  padding-top: 0px;
}

.hero-content, .Home-sub{
  position: relative;
  padding: 0 80px;
}
.sub-title {
  position: fixed;
  top: 726px; /* 뷰포트에 따라 값 조절 */
  font-weight: 700;
  color: #ffd000;
  font-size: 58px;
  line-height: 69px;
  white-space: nowrap;
  letter-spacing: -1.45px;
  margin: 0px;
}
@media (max-width: 1920px) {
.sub-title {
  position: fixed;
   top: calc(726 / 996 * 100vh); /* 세로가 996일때 사용 640 맞춤 */
  font-weight: 700;
  color: #ffd000;
  font-size: 58px;
  line-height: 69px;
  white-space: nowrap;
  letter-spacing: -1.45px;
}
}

.description {
  /* 메인 타이틀 38/R/행간55 */
  position: absolute;
  margin: 100px 0 0 0;
  /* top: 185px;
  left: 80px; */
  font-weight: 400;
  color: #ffffff;
  font-size: 38px;
  letter-spacing: -0.95px;
  line-height: 55px;
}

/* 반응형 여백 조절 */
@media (max-width: 1200px) and (min-width: 769px) {
  .hero-content ,.Home-sub{
    padding: 0 60px;
  }
  .sub-title {
    margin: 0; /* margin-top 대신 top 계산식으로 위치 고정 */
    font-size: 44px;
    letter-spacing: -0.025em;
    line-height: 53px;

    bottom: auto; /* 아래 고정 해제 */
     top: calc(620 / 800 * 100vh); /* 세로 크기에 따라 자동 보정 */
  }
  .description {
    margin: 80px 0px 0 0;
    line-height: 40px;
    font-size: 26px;
    letter-spacing: -0.65px;
  }
}

@media (max-width: 768px) {
  .hero-content ,.Home-sub{
    padding: 0 40px;
  }
  .sub-title {
    position: absolute;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    letter-spacing: -0.6px;
    bottom: unset;
    top: auto;
  }
  .description {
    font-size: 24px;
    line-height: 36px;
    margin-top: 86px;
    letter-spacing: -0.6px;

  }

}
@media (max-width: 390px) {

  .hero-content ,.Home-sub{
    padding: 0 20px; /* 모바일에서는 여백 줄이기 */
    position: absolute;
    width: 100%;
  }

  .sub-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.5px;
    white-space: normal; /* 줄바꿈 허용 */
    margin-top: 40px;
    position: absolute;
    bottom: unset;
  }

  .description {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.5px;
    margin-top: 90px;
  }
}

.top-right-video {
  position: fixed;
  top: 80px;           /* 상단 여백 */
  right: 0;
  width: 50%;          /* 필요에 따라 조절 */
  height: calc(100vh - 80px); /* 상단 offset 고려 */
  background: #ffd603; /* 여백 색상 */
  overflow: hidden;

  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
}

.top-right-video video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;  /* 영상 비율 유지, 짤리지 않음 */
}

.top-right-video img {
   max-width: 100%;
  max-height: 100%;
  object-fit: contain;  /* 영상 비율 유지, 짤리지 않음 */
}

@media (max-width: 1750px) {
  .top-right-video {
    right: 0%;
    width: 50%; 
    top: auto;
  }
}
@media (max-width: 1200px) {
  .top-right-video {
  position: fixed;
  top: 80px;       /* 상단 위치 (원하는 값으로 수정) */
  right: 0px;     /* 우측 위치 (원하는 값으로 수정) */
  width: 50%;
  max-width: 600px;  /* 비디오 가로 크기 */
  border-radius: 0px;
  overflow: hidden;
}
}

@media (max-width: 768px) {
  .top-right-video {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 768px;
    /* height: 80vh; 부모 높이를 화면 기준으로 지정 */
    border-radius: 0px;
    overflow: hidden;
    background-color: #ffd603;

    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
  }

  .top-right-video img,
  .top-right-video video {
    max-width: 100%;
    max-height: 100%;  /* 부모 높이 기준 */
    width: auto;
    height: auto;
    object-fit: contain; /* 비율 유지, 짤리지 않음 */
  }

   .sub-title {
    display: none;
  }

  .description {
    display: none;
  }
}



@media (max-width: 390px) {
  .top-right-video {
    position: relative;
    bottom: 0;           
    left: 50%;           
    transform: translateX(-50%); 
    width: 100%;         
    max-width: 390px;    
    height: auto;
    border-radius: 0px;
    overflow: hidden;
    display: block;
  }

.top-right-video img {
  width: 100%;          
  height: auto;
  object-fit: cover;
  position: relative;
  /* bottom:auto;
  left: 50%;
  transform: translateX(-50%);  */
}
.top-right-video video {
  width: 100%;          
  height: auto;
  object-fit: cover;
  position: relative;
  /* bottom:auto;
  left: 50%;
  transform: translateX(-50%);  */
}

 .sub-title {
    display: none;
  }

  .description {
    display: none;
  }
}
video {
  display: block;   /* inline 기본 속성 제거 */
  margin: 0;
  border: none;
  outline: none;
}

@media (max-aspect-ratio: 1/1) {
  .top-right-video {
    position: relative;
    width: 100%;
    /* height: 100vh;  화면 높이에 맞춤 */
    max-width: none;
    right: auto;
    top: auto;
    background-color: #ffd603;

           display: flex;
        justify-content: center;
        align-items: flex-start;
  }

  .top-right-video video {
    max-width: 120%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .top-right-video img {
    max-width: 109%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  .Home-page {
    width: 100%;
    background-color: #ffd603;
  }

  .description {
    display: none;
  }
  .sub-title {
    display: none;
  }
}

.top-right-video video::-webkit-media-controls {
  display: none !important;
}
.top-right-video video::-webkit-media-controls-play-button {
  display: none !important;
}
.top-right-video video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
